<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memoria</title>
    <meta name="description"
        content="Proyecto educativo tipo videojuego por niveles, diseñado para niños con discapacidad cognitiva leve.">
    <link rel="stylesheet" href="../views/css/styles_memoria.css">
    <link rel="stylesheet" href="../views/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@500;600;700&family=Lexend:wght@400;500;600&display=swap"
        rel="stylesheet">
</head>
<body>
        <!-- NAVBAR - Barra de navegación fija en la parte superior.-->
    <header class="navbar">
        <div class="contenedor navbar__contenido">

            <!-- Marca: logo + nombre del proyecto -->
            <div class="navbar__marca">
                <a href="../../index.html">
                    <img src="../assets/Logo.jpeg" alt="Logotipo del proyecto QNIMI" class="navbar__logo">
                    <span class="navbar__nombre">Q'NIMI</span>
                </a>
            </div>

            <!-- Enlaces internos: cada uno apunta a una sección diferente del sitio web -->
            <nav aria-label="Navegación principal">
                <ul class="navbar__enlaces">
                    <li><a href="#">seccion1</a></li>
                    <li><a href="#">seccion2</a></li>
                    <li><a href="#">seccion3</a></li>
                    <li><a href="#">seccion4</a></li>
                </ul>
            </nav>

            <!-- Accesos de sesión: por ahora son botones estáticos (sin backend conectado) -->
            <div class="navbar__acciones">
                <a href="#" class="boton boton--secundario" data-auth-open="login">Iniciar sesión</a>
                <a href="#" class="boton boton--primario" data-auth-open="register">Registrarse</a>
            </div>

        </div>
    </header>
    <a href="../views/mapa_niveles.html">
        <button>Volver</button>
    </a>
    <h1>Memoria</h1>

    <title>Juego de Memoria - Encuentra las Parejas</title>

    
    <h1>Juego de Memoria 🧠🐾</h1>
    <p>Encuentra las parejas de animales.</p>

    <div class="tablero" id="tablero"></div>

    <div class="mensaje" id="mensaje-victoria">¡Excelente memoria! Has encontrado todas las parejas. 🎉</div>


    <script src="../views/js/memoria.js" defer></script>
</body>
</html>